################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExcelToWpf/obj/Debug
/ExcelToWpf/bin/Debug
/.vs/ExcelToWpf/v15/Server/sqlite3
/.vs/ExcelToWpf/v15
/ExcelToWpf.v11.suo
/UI/bin/Debug
/UI/obj/Debug
/TestWpf/obj/Debug
/TestWpf/bin/Debug
/ExcelToWpf/ExcelToWpf.csproj.user
/.vs
/UI/obj/Release
